
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss//mixins';

// refresh page to apply styles from scss

// $primary: #654da7;
// $white: #ffff;
$sidebarWidth:450px;
$sideBarAHover:rgba(28, 140, 252, 0.79);

.sidebar {
  min-width: $sidebarWidth;
  max-width: $sidebarWidth;
  // background: rgb(133, 196, 206);
  color:$white;
  transition: all 0.3s;
  position: relative;
  .h6{
  	color: $black;
  }
  &.active{
  	margin-left: -$sidebarWidth;
  	.custom-menu{
			margin-right: -50px;
	  }
  }
  h1{
  	margin-bottom: 20px;
  	font-weight: 700;
  	.logo{
  		color: $black;
  	}
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 10px 5px;
		    display: block;
		    color: rgba(27, 22, 22, 0.8);
		    border-bottom: 1px solid rgba(255,255,255,.1);
		    &:hover{
		    	color: $white;
					background: $sideBarAHover;
					cursor: pointer;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: $black;
    		}
    	}
    }
  }
  @include media-breakpoint-down(md){
    margin-left: -$sidebarWidth;
    &.active {
      margin-left: 0;
    }
    .custom-menu{
    	margin-right: -50px !important;
    	top: 10px !important;
    }
  }
	a {
		transition: .3s all ease;
		// color: $primary;
		text-decoration: none !important;
		&:hover, &:focus {
			text-decoration: none !important;
			outline: none !important;
			box-shadow: none;
		}
	}
	button {
		transition: .3s all ease;
		&:hover, &:focus {
			text-decoration: none !important;
			outline: none !important;
			box-shadow: none !important;
		}
	}

  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 50px;
		right: 0;
		margin-right: -20px;
		@include transition(.3s);
		.btn{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			&.btn-primary{
				background: darken($primary,10%);
				border-color: darken($primary,10%);
				&:hover, &:focus{
					background: darken($primary,10%) !important;
					border-color: darken($primary,10%) !important;
				}
			}
		}
  }
}

// .dropdown-toggle::after {
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
// }
.user-wrapper{
	height: 100%;
}
.chat-content{
	min-height: 85%;
	width: auto;
}
.chat-message-container{
	max-height: 80vh;
	.edit-msg:hover{
		cursor: pointer;
		color: rgb(0, 0, 0);
	}
}





